@use "variables" as vars;

// Base styles and CSS Reset
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --black: #{vars.$black};
    --brand-gray-dark: #{vars.$brand-gray-dark};
    --slat-horizontal-margin: #{vars.$slat-horizontal-margin-mobile};
}

body {
    background-color: vars.$white;
    color: vars.$brand-gray-dark;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: vars.$font-weight-regular;
    font-size: 1.6rem; /* 16px */
    margin: 0 auto;
    max-width: vars.$max-page-width;
    padding: 0;
}

// Global Typography Reset
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-weight: vars.$font-weight-medium;
    font-feature-settings:
        "dnom" on,
        "numr" on,
        "ss03" on,
        "ss04" on,
        "ss05" on,
        "ss06" on,
        "ss07" on,
        "ss08" on,
        "liga" off;
}

p {
    margin-top: 0;
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: vars.$brand-blue-light;
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

// Utility Classes
.no-margin {
    margin: 0 !important;
}

.cancer-portfolio-top-wrapper {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;

    &.up-right {
        background-image: url("./assets/images/arrow-up-right.svg");
    }
}
