@use "variables" as vars;

// Base styles and CSS Reset
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --black: #{vars.$black};
    --brand-dark: #{vars.$brand-dark};
    --slat-horizontal-margin: #{vars.$slat-horizontal-margin-mobile};
}

body {
    background-color: vars.$white;
    color: vars.$brand-dark;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    max-width: vars.$max-page-width;
    padding: 0;
}

// Global Typography Reset
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--black);
    font-weight: 400;
    font-feature-settings:
        "dnom" on,
        "numr" on,
        "ss03" on,
        "ss04" on,
        "ss05" on,
        "ss06" on,
        "ss07" on,
        "ss08" on,
        "liga" off;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// Utility Classes
.no-margin {
    margin: 0 !important;
}

.cancer-portfolio-top-wrapper {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
