// Desktop breakpoint
@media (min-width: 1024px) {
    :root {
        --slat-horizontal-margin: #{$slat-horizontal-margin-desktop};
        --slat-vertical-margin: #{$slat-vertical-margin-desktop};
    }

    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .mobile-menu {
        display: none !important;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: space(5);
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: var(--brand-dark);
        }
    }

    #overview {
        display: flex;
        height: 1040px;
        padding: var(--slat-vertical-margin) var(--slat-horizontal-margin) 0
            var(--slat-horizontal-margin);
        flex-direction: column;
        align-items: flex-start;
        gap: space(5);
        align-self: stretch;
        background-size: 65%;
    }

    .overview-content-wrapper {
        max-width: 740px;
    }

    h1 {
        text-align: left;
        font-feature-settings:
            "dnom" on,
            "numr" on,
            "ss03" on,
            "ss04" on,
            "ss05" on,
            "ss06" on,
            "ss07" on,
            "ss08" on,
            "liga" off;
        font-family: "DM Sans";
        font-size: 72px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 72px */
        letter-spacing: -0.4px;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 2rem;
    }
    p {
        font-size: 1.25rem;
    }
}
