@use "variables" as vars;

// Mobile styles (default)
.slat {
    padding: 0 var(--slat-horizontal-margin);
}

.partnerships-content-wrapper {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.partnerships-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vars.space(10);
    flex-wrap: wrap;
}

.cancer-portfolio-item {
    display: flex;
    flex-direction: column;
    gap: vars.space(8);

    .portfolio-chip {
        display: flex;
        padding: vars.space(2) vars.space(4) vars.space(2) vars.space(3);
        align-items: center;
        gap: 9px;
        border-radius: 500px;
        background: #f7f8fc;
        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            aspect-ratio: 1/1;
            color: vars.$brand-blue-light;
            font-size: 2.1rem;
        }
    }

    .properties {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: vars.space(2) vars.space(1);
            list-style: none;
            padding: 0;
            strong {
                display: inline-block;
                margin-left: vars.space(2);
                font-weight: vars.$font-weight-semibold;
            }
        }
    }

    .item-image {
        width: 100%;
        order: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        aspect-ratio: 16 / 9;
        background-color: #f6f7fb;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &.cckp {
            background-image: url("./assets/images/cckp-bg.jpg");
        }
        &.genie {
            background-image: url("./assets/images/genie-bg.jpg");
        }
        &.htan {
            background-image: url("./assets/images/htan-bg.jpg");
        }
        &.challenges {
            background-image: url("./assets/images/cancer-challenges-bg.jpg");
        }
    }

    .item-content {
        display: flex;
        flex-direction: column;
        order: 2;
    }
}

#lets-talk {
    background-image: url("./assets/images/blur-sphere-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    .content-wrapper {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 72rem;
        max-width: 63rem;
        h2 {
            text-align: center;
            font-size: 4.8rem;
            font-style: normal;
            font-weight: vars.$font-weight-medium;
            line-height: 110%; /* 52.8px */
        }
        .cta-link {
            padding: vars.space(3) vars.space(4);
            justify-content: center;
            align-items: center;
            gap: vars.space(2);
            border-radius: vars.space(2);
            border: 1px solid vars.$brand-gray-dark;
            background: vars.$brand-gray-dark;
            color: vars.$white;
            text-align: center;
            font-weight: vars.$font-weight-regular;
            letter-spacing: 0.2px;
        }
    }
}

.primary-link,
.secondary-link {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: vars.$font-weight-medium;
    line-height: 140%; /* 25.2px */
    display: flex;
    align-items: center;
    gap: 9px;
}

.secondary-link {
    color: vars.$brand-gray-light;
}

#overview {
    background-image: url("./assets/images/overview-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    display: flex;
    height: 1100px; // was 900
    padding: 0 var(--slat-horizontal-margin);
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: vars.space(5);
    align-self: stretch;
}

.overview-buttons {
    display: flex;
    flex-direction: column;
    gap: vars.space(2);
    align-self: stretch;
}

.news-banner {
    display: flex;
    flex-direction: column;
    padding: vars.space(4) vars.space(3);
    align-items: center;
    gap: vars.space(3);
    border: 1px solid #ddd;
    border-radius: 24px;
    background-color: #f8f8f8;
    text-decoration: none;
    max-width: 100%;
    margin-bottom: vars.space(3);

    .news-tag {
        background-color: #4a7ff7;
        color: #ffffff;
        padding: vars.space(1) vars.space(3);
        border-radius: 200px;
        font-size: 14px;
        font-weight: vars.$font-weight-medium;
        line-height: 24px;
    }

    p {
        margin: 0;
        color: var(--black);
        font-size: 16px;
        font-weight: vars.$font-weight-regular;
        line-height: 24px;
    }

    .material-icons {
        color: #4a7ff7;
        font-size: 20px;
        margin-left: auto;
        padding-right: 8px;
    }
}

.navbar {
    display: flex;
    padding: vars.space(6) var(--slat-horizontal-margin);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
}

.nav-logo a {
    text-decoration: none;
    color: var(--black, #0e101a);
    font-size: 24px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: vars.$font-weight-regular;
    line-height: 28px;
    strong {
        font-weight: vars.$font-weight-semibold;
    }
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
    cursor: pointer;
}

// Mobile Menu Styles
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;
    display: none;
    flex-direction: column;

    &.active {
        display: flex;
    }
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vars.space(6) var(--slat-horizontal-margin);
    border-bottom: 1px solid #dddddd;
}

.mobile-menu-close {
    cursor: pointer;
    color: var(--black);
}

.mobile-nav-links {
    list-style: none;
    padding: vars.space(10) var(--slat-horizontal-margin);
    margin: 0;

    li {
        margin-bottom: vars.space(6);
    }

    a {
        font-size: 2.4rem;
    }
}

// Typography - Mobile
h1 {
    color: var(--black, #16181e);
    text-align: center;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: vars.$font-weight-medium;
    line-height: 110%; /* 39.6px */
}

h2 {
    color: var(--black, #16181e);
    text-align: center;
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: vars.$font-weight-medium;
    line-height: 100%; /* 32px */
}

h3 {
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: vars.$font-weight-regular;
    line-height: 28px; /* 140% */
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    color: var(--brand-gray-dark);
    font-family: "DM Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: vars.$font-weight-regular;
    line-height: 2.1rem;
}

small {
    font-size: 1.4rem;
    color: var(--brand-gray-dark);
    line-height: 1.4;
}

.body-lg {
    font-family: "DM Sans";
    font-size: 20px;
    line-height: 145%;
}

.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: vars.space(3) vars.space(6);
    border: 1px solid vars.$border-color;
    border-radius: 12px;
    background-color: vars.$white;
    color: var(--black);
    text-decoration: none;
    font-weight: vars.$font-weight-medium;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #f0f0f0;
        text-decoration: none;
        color: vars.$brand-gray-dark !important;
    }
}

#how-we-work {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .heading-wrapper {
            max-width: 62.5rem;
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr;
            gap: vars.space(4);
            .card {
                display: flex;
                /* min-width: 24rem; */
                padding: vars.space(8);
                flex-direction: column;
                align-items: center;
                gap: vars.space(5);
                flex: 1 0 0;
                border-radius: vars.space(2);
                border: 1px solid var(--Light, #f7f8fc);
                background: var(
                    --bar-gradient,
                    linear-gradient(
                        127deg,
                        rgba(181, 209, 235, 0.2) 0.7%,
                        rgba(188, 213, 236, 0.08) 100%
                    )
                );
            }
        }
    }
}

#footer {
    padding-top: vars.space(12);
    padding-bottom: vars.space(12);
    border-top: 1px solid vars.$border-color;

    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: vars.space(10);
        text-align: center;
    }

    h2,
    h3 {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: vars.$font-weight-semibold;
        line-height: 2.4rem; /* 133.333% */
        letter-spacing: -0.09px;
        text-align: center;
    }

    h4 {
        font-size: 1.8rem;
        font-weight: vars.$font-weight-bold;
        margin-bottom: vars.space(4);
        color: vars.$brand-gray-dark;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.6;
        color: vars.$brand-gray-light;
        margin-bottom: 0;
    }

    .column {
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 0;
                list-style: none;
                margin-bottom: 2.4rem;
                a {
                    color: vars.$brand-gray-dark;
                    color: var(--black, #16181e);
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: vars.$font-weight-regular;
                    line-height: 2.4rem; /* 133.333% */
                    letter-spacing: -0.09px;
                    &:hover {
                        color: vars.$brand-blue-light;
                    }
                }
            }
        }
    }
}
