@use "variables" as vars;

// Combined Tablet and Desktop breakpoints (starting at 768px)
@media (min-width: 768px) {
    :root {
        --slat-horizontal-margin: #{vars.$slat-horizontal-margin-desktop};
    }

    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .mobile-menu {
        display: none !important;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: vars.space(5);
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: var(--brand-dark);
        }
    }

    #overview {
        display: flex;
        height: 860px;
        padding: 0 var(--slat-horizontal-margin);
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: vars.space(5);
        align-self: stretch;
        background-size: 65%;
    }

    .overview-content-wrapper {
        max-width: 740px;
    }

    .overview-buttons {
        flex-direction: row;
        gap: vars.space(1);
        align-self: flex-start;
    }

    .news-banner {
        flex-direction: row;
        padding: vars.space(1) vars.space(3) vars.space(1) 5px;
        border-radius: 200px;
        max-width: fit-content;
    }

    // Typography
    h1 {
        text-align: left;
        font-feature-settings:
            "dnom" on,
            "numr" on,
            "ss03" on,
            "ss04" on,
            "ss05" on,
            "ss06" on,
            "ss07" on,
            "ss08" on,
            "liga" off;
        font-family: "DM Sans";
        font-size: 72px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
    }
}
