@use "variables" as vars;

// Combined Tablet and Desktop breakpoints (starting at 768px)
@media (min-width: 768px) {
    :root {
        --slat-horizontal-margin: #{vars.$slat-horizontal-margin-desktop};
    }

    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .mobile-menu {
        display: none !important;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: vars.space(5);
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: var(--brand-gray-dark);
        }
    }

    #overview {
        display: flex;
        height: 1100px; // was 860
        padding: 0 var(--slat-horizontal-margin);
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: vars.space(5);
        align-self: stretch;
        background-size: 65%;
    }

    .overview-content-wrapper {
        max-width: 740px;
    }

    .overview-buttons {
        flex-direction: row;
        gap: vars.space(1);
        align-self: flex-start;
    }

    .news-banner {
        flex-direction: row;
        padding: vars.space(1) vars.space(3) vars.space(1) 5px;
        border-radius: 200px;
        max-width: fit-content;
    }

    // Typography
    h1 {
        text-align: left;
        font-feature-settings:
            "dnom" on,
            "numr" on,
            "ss03" on,
            "ss04" on,
            "ss05" on,
            "ss06" on,
            "ss07" on,
            "ss08" on,
            "liga" off;
        font-family: "DM Sans";
        font-size: 72px;
        font-style: normal;
        line-height: 100%;
    }

    h2 {
        font-size: 4.8rem;
    }

    h3 {
        color: var(--Brand-gray-dark, #1f3042);

        /* h3 */
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: vars.$font-weight-medium;
        line-height: 32px; /* 133.333% */
    }

    h4 {
        font-size: 3.2rem;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .cancer-portfolio-item {
        display: grid;
        gap: vars.space(10);
        min-height: 50rem;
        .item-image {
            order: unset;
            height: 100%;
            aspect-ratio: auto;
        }

        .item-content {
            order: unset;
            text-align: left;
            align-self: center;
        }

        &.image-right {
            grid-template-columns: 2fr 3fr;
            .item-image {
                order: 2;
            }
            .item-content {
                order: 1;
            }
        }

        &.image-left {
            grid-template-columns: 3fr 2fr;
            .item-image {
                order: 1;
            }
            .item-content {
                order: 2;
            }
        }
    }
    #how-we-work {
        .content-wrapper {
            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    #footer {
        h2,
        h3 {
            text-align: left;
        }
        .content-wrapper {
            grid-template-columns: repeat(4, 1fr);
            text-align: left;
            li a {
                font-size: 1.4rem;
            }
            .about-sage {
                grid-column: span 2;
            }

            .programs,
            .about {
                grid-column: span 1;
            }
        }

        .column {
            .wrapper {
                width: 20rem;
            }
            &.about-sage {
                p {
                    max-width: 35rem;
                }
            }
        }
    }
}
